*,::before,::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




h1 {
  font-size: 3.2em;
  line-height: 1.1;
 
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}
.toast{
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  background: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  width: auto;
  margin: 0.3rem;
  text-align: center;
  animation: toast 1s ease-in-out;
  
}
@keyframes toast{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}






@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
